
h4 {
	line-height: 40px;
	width: calc(100% - 10px);
	vertical-align: middle;
	border-bottom: 1px solid #DDD;
	margin: 0 auto;
	color: #555;
}
.state_box a.new {
	font-size: 1.5em;
	padding: .5em;
}
#kanban_wrapper {
	font-size: 1.2em;
}
#kanban_board {
	float: left;
	width: 100%;
	display: table;
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	box-sizing: border-box;
}
#kanban_board .col {
	padding-bottom:45px;
}
.state_box {
	width:25%;
	max-width: 480px;
	display: table-cell;
}
.col_even {
	background-color: #F5F5F5;
}
.col_odd {
	background-color: #FFFFFF;
}
ul { 
	list-style: none; 
	margin: 0 0 0 0; 
	padding: 0 0 0 0;
}
.task_box {
	padding: 0.2em;
	margin: 5px;
	min-height: 32px;
	border-radius: 2px;
	display: inline-block;
	width: calc(100% - 14px - 0.4em);
	word-wrap: break-word;
	box-sizing: initial;
}
.task_box .task_editable {
	max-height: 150px;
	overflow: auto;
}
.task_modal .task_editable {
	max-height: 100%;
}
.color_0 {
	background-color: #EEE;
	border: 2px solid #CCC;
}
.color_1 {
	background-color: #BDF4CB;
	border: 2px solid #4AE371;
}
.color_2 {
	background-color: #F5F7C4;
	border: 2px solid #DFE32D;
}
.color_3 {
	background-color: #FFBBBB;
	border: 2px solid #FF9797;
}
.color_4 {
	background-color: #DFB0FF;
	border: 2px solid #CD85FE;
}
.editBox {
	background-color: white;
	border: 2px solid #E8F3FF;
	padding: 10px 15px;
	height: auto;
	width: 50%;
	font-size: 1.3em;
	color: #555;
	box-sizing: border-box;
}
.user_list_cells, .task_modal_control {
    display: inline-block;
    width: 45%;
    float: right;
    box-sizing: border-box;

}
.task_modal_control {
	position: relative;
	bottom: 30px;
	display: flex;
}
.task_modal_control a:hover {
	text-decoration: none;
	color: #DDD;
}
.clear {
	clear: both;
}
#filter_header {
	font-size: 1em;
	font-weight: bold;
	color: #555;
}
.people-list li {
	float: left;
	margin-right: 10px;
}
.member_filter {
	margin: 10px;
}
.member_filter ul {
	display: inline-block;
}
.hide {
	display: none;
}
.task_box .user_box {
	display: inline-block;
	float: left;
	color: #777;
	margin: 5px 0;
}
.blur_task {
	background-color: #F9F9F9;
	border: 2px solid #F9F9F9;
	color: #DDDDDD;
}
.blur_task * {
	color: #DDDDDD !important;
}
.task_modal {
	display: none;
    position: fixed;
    z-index: 2000;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
    margin: 0;
    box-sizing: border-box;
    border-width: 0;
    border-top-width: 30px;
    cursor: default;
}
.task_modal form {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.task_modal .user_box, .task_modal .editable {
	display: none;
}
.task_modal_control a {
	font-size: 1.3em;
	margin-right: 5px;
	padding: 3px 5px;
	border-radius: 2px;
	color: #FFF;
}
.save {
	border: 1px solid #3079ed;
	background-color: #4d90fe;
}
.cancel {
	border: 1px solid #777777;
	background-color: #868E96;
}
.delete {
	border: 1px solid #DC3545;
	background-color: #D9534F;
	position: absolute;
	right: 0;
}
.color {
	border: 1px solid #20A040;
	background-color: #2FAF4F;
}
.editable {
	display: inline-block;
	float: right;
	margin: 5px 0;
}
.placeholder div { 
	background-color: #FFF !important; 
	border: dashed 1px #CCC !important; 
	margin: 5px;
}
